<app-parental-header></app-parental-header>
<div class="home-component-container">
  <div class="home-container">
    <div class="homeitem-container">
      <div class="homeitem-content">
        <div class="homeitem-title">
          <h1>Parental Portal</h1>
          <h2>"Welcome to Parent Portal"</h2>
          <p>
            Each tab has a different tool, please see the descriptions below
          </p>
        </div>

        <div class="homeitem-svg">
          <img
            class="header-logo"
            src="assets/images/logo.png"
            alt=""
            height="80"
            width="80"
            routerLink="/parent/home"
          />
        </div>
      </div>
    </div>

    <div class="homeitem-2-container">
      <div class="homeitem-container">
        <h1>Questionnaire</h1>

        <div class="homeitem-content">
          <p>
            Complete this questionnaire to learn if you are feeding your child
            the recommended amounts for each food group
          </p>
          <div class="homeitem-svg"><img
            class="center"
            src="assets/images/Questionnaire_Icon.png"
            height="40"
            width="40"
          /></div>
        </div>
      </div>

      <div class="homeitem-container">
        <h1>Recommendations</h1>
        <div class="homeitem-content">
          <p>
            Click here to learn what are the recommended amounts of each food
            group that you should feed your baby every day
          </p>
          <div class="homeitem-svg"><img
            class="center"
            src="assets/images/Recommendations_Icon.png"
            height="40"
            width="40"
          /></div>
        </div>
      </div>
    </div>

    <div class="homeitem-2-container">
      <div class="homeitem-container">
        <h1>Tracking</h1>
        <div class="homeitem-content">
          <p>
            Complete this short form every week to monitor if you are feeding
            your child the recommended amounts for each food group
          </p>
          <div class="homeitem-svg">
            <img
              class="center"
              src="assets/images/Tracking_Icon.png"
              height="40"
              width="40"
            />
          </div>
        </div>
      </div>

      <div class="homeitem-container">
        <h1>Growth Chart</h1>
        <div class="homeitem-content">
          <p>
            Click here to input the weight and length of your child from the
            last visit to the pediatric office to monitor his/her growth
          </p>
          <div class="homeitem-svg"><img
            class="center"
            src="assets/images/Chart_Growth_Icon.png"
            height="40"
            width="40"
          /></div>
        </div>
      </div>
    </div>

    <div class="homeitem-container">
      <h1>Other</h1>
      <div class="homeitem-content">
        <p>
          Click here to access other resources (videos and websites) with
          information related to feeding your child
        </p>
        <div class="homeitem-svg"><img
            class="center"
            src="assets/images/Other_Resources.png"
            height="40"
            width="40"
          /></div>
      </div>
    </div>
  </div>
</div>
